/* Iert any CSS code below here */
body{
  background-color:#A3E4D7 ;
}
img{
   width:150px;
   height:150px:
}

color:white;
font-weight:12pt;
text-aglign:center;
text-aglign:left;
text-aglign:right;
front-family:Comic Sans MS;